/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 
.impact-counter .row {
    display: grid;
    grid-gap: 10x;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.impact-counter .row:before, .impact-counter .row:after {
	content: inherit;
	display: none;
}

.impact-counter {
    text-align: center;
    padding: 80px 0px;
}

.impact-icon {
    font-size: 6em;
    margin-bottom: 35px;
}

.impact-number {
    font-size: 3em;
    margin-bottom: 25px;
    font-weight: bold;
}

.impact-subtext {
    font-size: 1em;
    line-height: 1.5em;
}